<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8546-1658923368/blob/main/Assignment/Kaviya_A_IBM_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print

In [1]:
print ('Hello Python')

Hello Python

input from user

In [2]:
a  = int(input("Enter first number: "))  
b = int(input("Enter second number: "))  
  
print(a+b)

Enter first number: 5
Enter second number: 6
11

tuple

In [3]:
tup = ("Apple", "Mango" , "Orange" , "Banana")  
print(type(tup))  
print(tup)

<class 'tuple'>
('Apple', 'Mango', 'Orange', 'Banana')

list

In [4]:
L1 = ["John", 102, "USA"]      
L2 = [1, 2, 3, 4, 5, 6]

string

In [15]:
str1 = "Hi Python"  
print(str1)  
str1 = 'Hi Python'  
print(str1)

Hi Python
Hi Python

slicing

In [23]:
S = 'ABCDEFGHI'
print(S[2:7])

CDEFG

In [24]:
S = 'ABCDEFGHI'
print(S[-7:-2])

CDEFG

In [25]:
S = 'ABCDEFGHI'
print(S[:3])

ABC

In [26]:
S = 'ABCDEFGHI'
print(S[6:])

GHI

In [27]:
S = 'ABCDEF'
print(S[::-1])

FEDCBA

sets

In [16]:
  Month = {"January", "February", "March", "April", "May"}  
print(Month)  
print(type(Month))

{'January', 'February', 'May', 'March', 'April'}
<class 'set'>

if-else

In [14]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print(max(num1, num2), "is greater")

Enter the first number: 5
Enter the second number: 4
5 is greater

for loop

In [22]:
word="python"
for letter in word:
	print (letter)

p
y
t
h
o
n

while loop

In [20]:
i = 1
while i < 3:
  print(i)
  i += 1

1
2
1
2

boolean

In [21]:
print(10 > 9)
print(10 == 9)
print

True
False