<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8546-1658923368/blob/main/Assignment/Lokitha_K_IBM_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables and print statement**

In [1]:
a=10 # a is variable
b=5 # b is variable
print(a+b)
print(a-b)

15
5

**STRINGS and COMMANDS**

In [2]:
print('hi')
print("Hello")

hi
Hello

**Commands**

In [3]:
#single line command

**DATA TYPE**

In [4]:
name="lokitha"
print(type(name))
c=23.4
print(type(c))
a=4+5j
print(type(a))

<class 'str'>
<class 'float'>
<class 'complex'>

**INPUT OPERATORS**

In [5]:
a=int(input("Enter a value:"))
b=int(input("Enter a value:"))
c=a+b
print(c)

Enter a value:4
Enter a value:5
9

**TYPE CASTING**

In [6]:
print(int(5.0))
print(float(5))
print(str(7))

5
5.0
7

**DECISION MAKING :if,if-else,elif,nested if**

Example for if-else

In [7]:
a=int(input("Enter a value:"))
b=int(input("Enter a value:"))
if(a>b):
 print("a is greater")
else:
 print("b is greater")

Enter a value:4
Enter a value:6
b is greater

**LOOPING**

For Loop

In [8]:
n=int(input("Enter a value :"))
fact=1
for i in range(n,0,-1):
 fact=fact*i
print("The factorial of a is:",fact)

Enter a value :5
The factorial of a is: 120

WHILE LOOP

In [9]:
i=1
fact=1
while(i<5):
 fact=fact*i
 i=i+1
print("The value is:",fact)

The value is: 24

**CONTINUE**

In [10]:
for i in range(1,7,1):
 if(i==4):
   continue
 print(i)
else:
 print("I am in else")
print("main block")

1
2
3
5
6
I am in else
main block

**BREAK**

In [11]:
for i in range(1,7,1):
 if(i==4):
   break
 print(i)
else:
 print("I am in else")
print("main block")

1
2
3
main block

**PASS**

In [12]:
for i in range(1,7,1):
 if(i==4):
   pass
 print(i)
else:
 print("I am in else")
print("main block")

1
2
3
4
5
6
I am in else
main block



**ESCAPING SEQUENCE**

In [13]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

**IS UPPER**

In [14]:
a="THIS IS PYTHON"
b=a.isupper()
print(b)

True

**IS LOWER**

In [15]:
a="This is python"
b=a.islower()
print(b)

False

**STRING SPLITTING**

In [16]:
a = "Iamaprogrammer"
print(a[7])
print(a[-1])
print(a[5:8])
print(a[0:6:3])
print(a[2:])

g
r
rog
Ia
maprogrammer

**REASSIGNING STRINGS**

In [18]:
str = "HELLO"    
print(str)    
str = "hello"    
print(str)

HELLO
hello