<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8546-1658923368/blob/main/IBM_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variables

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

#Datatype

In [10]:
x = 5
print(type(x))

<class 'int'>

#Casting

In [11]:
x = int(1)   
y = int(2.8) 
z = int("3")
print(x)
print(y)
print(z)

1
2
3

#Strings

In [12]:
a = "Hello, World!"
print(a)
print(a[1])
for x in "banana":
  print(x)

Hello, World!
e
b
a
n
a
n
a

#Slicing

In [13]:
b = "Hello, World!"
print(b[2:5])
b = "Hello, World!"
print(b[:5])

llo
Hello

#String modification

In [14]:
a = "Hello, World!"
print(a.upper())
print(a.replace("H", "J"))
print(a.split(","))

HELLO, WORLD!
Jello, World!
['Hello', ' World!']

#Concatenation

In [15]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#If-else

In [17]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#While loop

In [18]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#Break

In [19]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

#Continue

In [20]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#For loop

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple