<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8546-1658923368/blob/main/Sukirdha%20Priya%20_T_IBM_%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello world

In [1]:
print('Hello, world!')

Hello, world!

Find square root

In [2]:
num = 8 
num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 8.000 is 2.828

Area of triangle

In [3]:
a = 5
b = 6
c = 7
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

The area of the triangle is 14.70

Swap two variables

In [4]:
x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

operators

In [5]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [ ]:
if...else

In [6]:
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

for loop

In [7]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

while loop

In [8]:
n = 10
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    
print("The sum is", sum)

The sum is 55

Functions

In [10]:
def greet(name):
    print("Hello, " + name + ". Good morning!")
greet('Paul')

Hello, Paul. Good morning!

Recursion

In [11]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

list

In [12]:
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
p

Tuple

In [13]:
my_tuple = ()
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

String

In [14]:
str = 'programiz'
print('str[0] = ', str[0])
print('str[1:5] = ', str[1:5])
print('str[5:-2] = ', str[5:-2])

str[0] =  p
str[1:5] =  rogr
str[5:-2] =  am

Set

In [15]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

Dictionary

In [17]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))

Jack
26